---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import readFirestore from "../../readFirestore";
import { likeArticle, addComment } from "../../writeFirestore";

export async function getStaticPaths() {
  const recipes = await getCollection("recipes");
  console.log(recipes);

  const returnable = recipes.map((recipe) => {
    return {
      params: {
        slug: recipe.slug,
      },
      props: {
        recipe,
      },
    };
  });
  return returnable;
}

interface Props {
  recipe: CollectionEntry<"recipes">;
}

let { recipe } = Astro.props;
let { Content } = await recipe.render();
let firestoreData = await readFirestore(recipe.slug);


---

<Layout title=`How to Make ${ recipe.data.title }`>
  <div class="flex flex-row gap-8">
    <div
      class="left-0 sticky top-24 w-[50vw] max-md:hidden max-h-[calc(100vh-6rem)] overflow-y-auto border-r-2 border-slate-200 pb-3"
    >
      <h3 class="text-center dark:text-dark-text text-light-text">Tags</h3>
      <div class="flex justify-center flex-row flex-wrap gap-3 my-2">
        {
          recipe.data.tags.map((tag) => (
            <span class="dark:hover:brightness-[0.75] hover:brightness-[0.8] transition-all light:drop-shadow-md light:shadow-md duration-1000 select-none dark:bg-accent bg-light-secondary dark:text-dark-text text-light-text rounded-full px-3">
              {tag}
            </span>
          ))
        }
      </div>
      <hr
        class="my-4 mx-12 h-0.5 border-t-0 bg-neutral-100 opacity-100 dark:opacity-50"
        style="background-color: rgb(245 245 245);"
      />
      <h3 class="text-center dark:text-dark-text text-light-text">Allergens</h3>
      <div class="flex justify-center flex-row flex-wrap gap-3 my-2">
        {
          recipe.data.allergens.map((allergen) => (
            <span class="dark:hover:brightness-[0.75] hover:brightness-[0.1] transition-all light:drop-shadow-md light:shadow-md duration-1000 select-none dark:bg-primary bg-primary/25 dark:text-dark-text text-light-text rounded-full px-3">
              {allergen}
            </span>
          ))
        }
      </div>
      <hr
        class="my-4 mx-12 h-0.5 border-t-0 bg-neutral-100 opacity-100 dark:opacity-50"
        style="background-color: rgb(245 245 245);"
      />
      <h3 class="text-center dark:text-dark-text text-light-text">
        Ingredients
      </h3>
      <div class="flex justify-center flex-row flex-wrap mx-14 gap-3 my-2">
        {
          recipe.data.ingredients.map((ingredient) => (
            <span class="dark:hover:brightness-[0.75] hover:brightness-[0.8] transition-all light:drop-shadow-md light:shadow-md duration-1000 select-none dark:bg-accent bg-light-secondary dark:text-dark-text text-light-text rounded-full px-3 text-center">
              {ingredient}
            </span>
          ))
        }
      </div>
      <h3 class="text-center dark:text-dark-text text-light-text mt-6">
        Related
      </h3>
      <div class="flex flex-col justify-center">
        {
          recipe.data.related.map((relation) => (
            <>
              <hr
                class="my-3 mx-12 h-0.5 border-t-0 text-center bg-neutral-100 opacity-100 dark:opacity-50"
                style="background-color: rgb(245 245 245);"
              />
              <span class="text-center dark:text-dark-text text-light-text font-normal hover:underline text-xl">
                {relation}
              </span>
            </>
          ))
        }
      </div>
    </div>
    <div class="container mx-auto px-0 md:pr-[2.5vw] lg:pr-[5vw] mt-4">
      <h1 class="text-center my-4">{recipe.data.title}</h1>
      <div
        class="text-center flex gap-3 py-5 my-5 border-y-2 dark:border-dark-text/25 border-light-text/25 dark:text-dark-text text-light-text"
      >
        <p class="font-normal flex flex-row gap-2 group items-center">
          <svg
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 512 512"
            enable-background="new 0 0 512 512"
            xml:space="preserve"
            class="w-8 aspect-square dark:stroke-dark-text stroke-light-text dark:fill-dark-text fill-light-text group-hover:scale-110 group-hover:rotate-12 transition-all"
          >
            <path
              opacity="1.000000"
              d="
            M475.000000,513.000000 
              C466.645782,513.000000 458.291534,513.000000 449.276337,512.726624 
              C443.738220,509.674774 438.231506,508.250122 433.572479,504.904022 
              C425.470215,499.085083 419.814117,491.047119 413.477417,483.629547 
              C401.323975,469.402985 389.377533,454.999298 377.190155,440.802155 
              C371.956879,434.705841 367.220215,428.131104 361.099640,422.527466 
              C359.916748,424.681396 360.448517,426.529449 360.390106,428.299774 
              C359.842957,444.888824 361.573395,461.535767 359.334686,478.075165 
              C358.021271,487.778412 353.392792,495.789215 346.247681,502.506775 
              C341.199554,507.252869 334.734131,509.484680 329.000000,513.000000 
              C229.979111,513.000000 130.958206,513.000000 31.280331,512.727783 
              C23.249577,508.749756 15.912265,505.140839 10.336317,498.622833 
              C6.283339,493.885040 4.697811,487.845856 1.000000,483.000000 
              C1.000000,372.979095 1.000000,262.958221 1.213668,152.192795 
              C3.102167,149.805283 2.606467,147.400864 3.605400,145.444702 
              C12.152208,128.707840 25.601549,119.779907 44.510876,119.644844 
              C62.656128,119.515228 80.802994,119.608551 98.949150,119.612640 
              C101.717072,119.613266 104.394714,119.695580 104.618904,115.776405 
              C105.442772,101.374008 112.892746,91.551910 125.960609,86.026596 
              C129.382339,84.579819 129.946548,82.375877 129.544586,79.366478 
              C128.843811,74.119820 127.997704,68.892776 127.247765,63.652466 
              C124.675636,45.679573 128.889786,29.726627 141.530334,16.370199 
              C149.068619,8.404981 158.640762,3.974832 169.000000,1.000000 
              C176.687576,1.000000 184.375168,1.000000 192.806122,1.203941 
              C197.661713,3.151090 201.991348,4.511067 205.850494,6.700378 
              C229.031479,19.850990 236.448486,40.823208 233.186676,65.240334 
              C231.038376,81.322037 228.581406,97.362289 226.341354,113.432076 
              C225.485687,119.570488 225.585663,119.609039 232.091110,119.611923 
              C260.085846,119.624321 288.080627,119.646011 316.075317,119.597328 
              C320.435669,119.589752 324.657776,120.334442 328.834747,121.380150 
              C346.816162,125.881790 360.387756,142.975632 360.371338,164.195526 
              C360.340302,204.354630 360.411530,244.513885 360.308380,284.672729 
              C360.298615,288.468658 361.294098,291.333344 364.121857,293.910004 
              C370.636169,299.845886 377.064117,305.887329 383.311462,312.102722 
              C390.856445,319.609100 398.065643,327.467346 405.511871,335.050751 
              C436.211182,366.315735 467.366699,397.133240 498.421173,428.048309 
              C502.009583,431.620636 504.822571,435.605103 507.199677,440.050201 
              C510.720123,446.633392 512.332458,453.666992 513.000000,461.000000 
              C513.000000,462.388885 513.000000,463.777802 512.987488,465.982361 
              C512.794312,467.435303 512.504089,468.063232 512.449036,468.711151 
              C511.360565,481.517578 505.892731,491.975067 496.535126,500.849274 
              C490.257324,506.802826 482.388428,509.339539 475.000000,513.000000 
            M193.152863,294.347412 
              C181.605652,282.796692 170.012192,271.291534 158.544937,259.661957 
              C155.804398,256.882629 154.080704,256.156464 151.161545,259.844513 
              C136.392654,278.503387 117.004845,285.671204 93.489700,282.469269 
              C65.187744,278.615509 43.263783,253.805435 42.736217,224.617676 
              C42.406750,206.389618 48.579514,190.654541 62.478928,178.058807 
              C72.661049,168.831696 84.314445,163.698380 97.831390,162.700027 
              C101.596107,162.421967 102.664421,160.825150 102.675400,157.379028 
              C102.689133,153.066635 102.202606,148.734772 103.093170,144.430710 
              C104.098282,139.573013 103.177391,138.440262 98.131187,138.429230 
              C80.131599,138.389893 62.131084,138.315292 44.132442,138.453125 
              C29.912270,138.562012 19.382675,149.393845 19.381340,163.656967 
              C19.371817,265.488495 19.372217,367.320038 19.381584,469.151581 
              C19.382946,483.967621 29.988054,494.614685 44.744583,494.616272 
              C135.076324,494.626038 225.408371,494.502869 315.739502,494.737732 
              C330.861938,494.777039 341.472900,482.450165 341.575409,468.740723 
              C341.738678,446.908997 341.586670,425.075043 341.664154,403.242371 
              C341.673492,400.610382 341.197418,398.222260 339.550110,396.256348 
              C335.526031,391.454010 331.364532,386.766876 327.443726,382.247070 
              C325.047943,382.532867 324.166779,384.091919 323.014618,385.225586 
              C311.645386,396.412628 295.162659,396.329010 283.819275,384.989777 
              C253.762360,354.943787 223.707855,324.895416 193.152863,294.347412 
            M167.858536,241.610092 
              C210.753662,284.492432 253.641144,327.382385 296.553040,370.247955 
              C302.274628,375.963348 304.637482,376.001892 310.276337,370.393402 
              C326.343475,354.412781 342.277100,338.297150 358.435669,322.410004 
              C361.617706,319.281403 361.358826,317.413696 358.299011,314.360077 
              C290.592896,246.790527 222.989914,179.117661 155.330627,111.501152 
              C153.110336,109.282265 150.606796,107.308578 148.060883,105.460907 
              C140.424500,99.918831 129.879456,102.594208 125.500648,110.949799 
              C122.348961,116.963776 123.171417,123.580719 122.484093,129.934525 
              C121.895706,135.373688 122.734985,140.973633 122.079346,146.398102 
              C119.537895,167.425308 123.322166,187.034744 134.412933,205.132965 
              C143.066818,219.254608 156.315979,229.195267 167.858536,241.610092 
            M468.518890,494.081635 
              C484.265198,490.430664 493.832764,478.111847 493.684113,462.105255 
              C493.589783,451.946198 488.071106,444.549805 481.547058,437.816345 
              C469.839844,425.733429 457.818359,413.954865 445.920197,402.057129 
              C423.890839,380.028778 401.837555,358.024261 379.850555,335.953674 
              C377.610565,333.705139 375.886719,332.165466 372.943054,335.178101 
              C363.280579,345.067078 353.469635,354.812164 343.638000,364.533905 
              C341.347443,366.798889 341.555206,368.826874 343.488617,371.043182 
              C346.216370,374.170135 348.967072,377.277496 351.663239,380.431458 
              C359.852081,390.010773 368.062225,399.572388 376.184143,409.208313 
              C386.014313,420.870819 395.716034,432.641724 405.559570,444.292908 
              C415.619781,456.200470 426.107849,467.762604 435.804749,479.956146 
              C444.136963,490.433685 454.164734,495.989502 468.518890,494.081635 
            M240.865280,170.606216 
              C273.984619,203.714752 307.103973,236.823288 340.122986,269.831512 
              C341.695038,268.638458 341.601562,267.769897 341.601776,266.959412 
              C341.610321,232.634689 341.791718,198.308563 341.526825,163.985901 
              C341.411926,149.103561 330.058807,138.451065 315.162445,138.426208 
              C282.337402,138.371445 249.512222,138.403488 216.687088,138.417068 
              C214.583649,138.417953 212.420181,138.204071 209.571915,139.852158 
              C220.016357,150.113510 230.200027,160.118683 240.865280,170.606216 
            M207.643555,108.448280 
              C209.940689,92.902702 212.357742,77.373596 214.496765,61.806297 
              C216.185486,49.516174 213.637405,38.250301 204.677200,29.207127 
              C194.436890,18.871981 177.365112,16.303030 164.488602,22.770824 
              C152.076965,29.005117 143.771759,44.444897 145.473312,58.460239 
              C146.310364,65.354843 147.296600,72.242508 148.571793,79.066704 
              C149.021225,81.471916 148.922150,84.472748 152.180405,85.649483 
              C157.798416,87.678444 162.037491,91.647293 166.138351,95.847031 
              C172.648849,102.514503 179.405701,108.942635 185.870743,115.652748 
              C188.607361,118.493088 191.527481,119.776176 195.538849,119.698334 
              C205.995148,119.495430 205.998230,119.653931 207.643555,108.448280 
            M63.911015,235.692703 
              C65.234756,240.426254 67.824211,244.471252 70.866272,248.239929 
              C88.449135,270.022491 118.153648,269.941101 136.349670,248.032333 
              C140.780640,242.697266 140.604645,241.542038 135.553131,236.807938 
              C120.854774,223.033020 110.863800,206.456924 106.110298,186.922455 
              C104.881714,181.873627 102.305061,180.921692 97.917809,181.541122 
              C73.630379,184.970261 55.740490,210.082474 63.911015,235.692703 
            z"
            ></path>
            <path
              opacity="1.000000"
              d="
            M513.000000,89.531349 
              C510.387543,105.454506 503.711517,118.919792 493.399841,130.697998 
              C488.186279,136.653015 482.183014,137.294601 476.631042,131.757294 
              C445.133698,100.343224 413.679901,68.885368 382.261658,37.392197 
              C377.060669,32.178822 377.028656,26.813526 382.208313,21.658955 
              C390.853882,13.055246 401.222961,7.249883 412.808594,3.554054 
              C415.013214,2.850772 417.205841,2.110029 419.702026,1.193287 
              C430.354218,1.000000 440.708466,1.000000 451.818329,1.199215 
              C453.661469,2.248056 454.978973,2.393852 456.265686,2.742087 
              C474.215759,7.600202 488.607819,17.514832 499.534760,32.666965 
              C506.387848,42.169949 509.902893,52.959846 513.000000,64.000000 
              C513.000000,72.354233 513.000000,80.708466 513.000000,89.531349 
            M476.471466,104.199455 
              C478.973053,106.291046 480.769867,109.224884 483.785828,110.708351 
              C499.665985,91.171280 500.334747,53.927666 472.135834,31.451170 
              C450.575531,14.266091 418.056854,16.622261 403.334625,30.609747 
              C405.120880,32.546070 407.009308,34.413227 408.686798,36.453796 
              C411.186737,39.494850 413.393066,40.154915 417.552246,38.377468 
              C440.002533,28.783228 466.183472,36.580681 476.288239,60.756813 
              C481.401306,72.990089 480.638275,85.434608 475.237610,97.503258 
              C474.149536,99.934822 473.800690,101.870644 476.471466,104.199455 
            M443.339661,71.176239 
              C448.215820,75.978119 453.091980,80.779999 458.179047,85.789566 
              C463.013916,76.651993 459.984406,65.885124 451.429352,58.670380 
              C444.675598,52.974747 434.405975,51.622826 428.577301,56.161865 
              C433.359528,61.021732 438.098450,65.837639 443.339661,71.176239 
            z"
            ></path>
            <path
              opacity="1.000000"
              d="
            M513.000000,187.545898 
              C485.331787,215.700562 457.664551,243.402130 429.994293,271.100647 
              C425.284119,275.815643 420.631500,280.591064 415.824860,285.205902 
              C410.364655,290.448303 405.030609,290.451294 399.827759,284.914307 
              C388.608917,272.975067 381.793243,258.934723 379.506134,242.573227 
              C376.685211,222.393158 380.608002,203.854752 392.314789,187.211227 
              C405.621765,168.292694 423.739258,157.424438 446.926483,154.463257 
              C467.323639,151.858398 485.381104,157.035873 501.966888,168.496307 
              C505.769592,171.123856 509.715576,173.687714 512.771973,177.753189 
              C513.000000,181.030594 513.000000,184.061188 513.000000,187.545898 
            M406.685699,262.471222 
              C408.115479,264.657776 409.647766,264.149628 411.186127,262.618591 
              C412.839417,260.973206 414.407532,259.237457 416.120636,257.658081 
              C418.385376,255.570160 418.706879,253.767715 417.084686,250.741440 
              C412.893921,242.923096 411.536041,234.205826 412.923431,225.568741 
              C417.786224,195.296432 447.202515,179.666275 475.369598,192.211807 
              C478.714447,193.701584 480.986328,193.381592 483.227112,190.695145 
              C484.290894,189.419800 485.473114,188.222183 486.721924,187.126373 
              C489.769104,184.452698 489.201782,182.645309 485.721069,180.859604 
              C474.146851,174.921707 462.365753,171.156494 448.941284,173.207687 
              C431.687561,175.843964 417.685638,183.779999 408.117523,198.059265 
              C394.301758,218.677704 393.706909,240.277878 406.685699,262.471222 
            M445.696899,228.196930 
              C451.854340,222.032608 458.011780,215.868271 464.212433,209.660690 
              C457.617950,204.345413 444.253815,207.530457 437.602722,215.525650 
              C432.662720,221.463989 428.610657,235.045319 435.621460,239.650803 
              C438.669464,236.160217 441.930389,232.425781 445.696899,228.196930 
            z"
            ></path>
            <path
              opacity="1.000000"
              d="
            M89.343697,438.558990 
              C74.580292,420.548706 76.297203,392.848450 94.109985,377.611542 
              C97.156685,375.005371 100.221405,372.539032 104.626740,372.608063 
              C108.548439,372.669495 111.681183,374.060272 112.743637,377.886047 
              C113.800835,381.692902 114.427475,385.644012 110.577759,388.791779 
              C103.832771,394.306946 98.497414,400.786346 98.396927,410.105316 
              C98.202103,428.172729 116.819901,440.019501 133.569321,432.605194 
              C136.796616,431.176575 139.695679,428.644135 143.850327,430.290253 
              C147.466064,431.722839 149.841797,433.891663 150.280533,437.727081 
              C150.764343,441.956573 149.680527,445.345642 145.569031,447.798065 
              C128.403229,458.037170 103.801109,455.942474 89.343697,438.558990 
            z"
            ></path>
            <path
              opacity="1.000000"
              d="
            M190.509979,474.986908 
              C188.532791,469.479858 189.658920,465.290741 193.986008,461.817841 
              C201.091492,456.115021 205.167480,449.103149 204.744949,439.466522 
              C204.081528,424.335907 186.132858,412.515839 172.187347,418.471802 
              C169.746735,419.514191 167.377396,420.758118 164.873459,421.610107 
              C159.883255,423.308044 155.508682,421.318481 153.405579,416.616425 
              C151.288345,411.882751 152.670105,407.127838 157.015976,404.479370 
              C182.954422,388.671661 217.780838,402.688507 223.012238,433.576111 
              C225.949509,450.918518 220.237473,465.737488 206.119522,476.776367 
              C200.846405,480.899414 195.062927,480.230164 190.509979,474.986908 
            z"
            ></path>
            <path
              opacity="1.000000"
              d="
            M47.481804,373.635345 
              C39.696774,365.149292 35.880886,355.143585 35.857788,344.337311 
              C35.818359,325.889954 46.213562,308.683350 65.977722,302.593201 
              C80.780273,298.031860 94.520409,300.439301 106.893448,309.873444 
              C110.404915,312.550903 113.458679,315.681793 112.802193,320.611633 
              C112.286346,324.485291 110.366249,327.359924 106.377785,328.698975 
              C101.962173,330.181458 98.621544,328.352844 95.476334,325.656647 
              C87.289009,318.638184 76.500862,317.142883 67.731285,322.284668 
              C54.896683,329.809937 49.601002,346.439514 60.947636,359.651031 
              C65.459984,364.904999 65.787590,370.355835 61.830387,374.315277 
              C57.631546,378.516510 53.187366,378.387726 47.481804,373.635345 
            z"
            ></path>
            <path
              opacity="1.000000"
              d="
            M204.496124,372.947052 
              C202.951233,368.831177 203.450317,364.933685 203.706238,361.181854 
              C204.617310,347.826019 193.647949,338.508575 183.862152,336.561920 
              C172.416199,334.285034 160.435074,341.840790 156.314850,353.168549 
              C155.804520,354.571594 155.395569,356.022858 154.760757,357.367310 
              C152.466736,362.225677 147.652008,363.927704 142.048050,361.940125 
              C138.105499,360.541809 135.777374,355.896820 136.926224,351.273285 
              C141.098404,334.482605 151.518570,323.333832 168.199493,319.017029 
              C184.536728,314.789215 199.324738,318.753540 211.144394,330.989014 
              C221.692596,341.908356 224.431717,355.491089 222.090363,370.154968 
              C221.552765,373.521942 219.185257,376.439850 215.678818,377.135071 
              C211.504913,377.962646 207.279770,377.674530 204.496124,372.947052 
            z"
            ></path>
            <path
              opacity="1.000000"
              d="
            M467.616516,469.304321 
              C463.184082,473.573120 457.296112,473.956665 453.625824,470.510162 
              C450.596710,467.665741 450.131653,461.528107 452.692444,458.191620 
              C455.855194,454.070770 461.043518,453.079987 465.477844,455.750183 
              C469.598267,458.231415 470.489655,463.154938 467.616516,469.304321 
            z"
            ></path>
            <path
              opacity="1.000000"
              d="
            M183.229919,43.211708 
              C188.333191,45.569557 190.103195,49.295864 189.290039,54.344692 
              C188.769272,57.578266 186.983307,59.971420 183.863556,60.883492 
              C179.987915,62.016552 176.200241,61.690037 173.340668,58.373920 
              C170.602478,55.198605 169.952911,51.754372 171.989395,47.809895 
              C174.385361,43.169189 178.205994,42.256725 183.229919,43.211708 
            z"
            ></path>
            <path
              opacity="1.000000"
              d="
            M83.365227,240.521057 
              C79.142967,234.022720 75.691795,227.606903 77.601097,219.844894 
              C78.660973,215.536087 81.836548,213.793579 86.102882,213.619125 
              C90.414474,213.442810 94.065666,214.969193 94.954559,219.262604 
              C96.353333,226.018890 99.179474,230.288467 106.719185,231.136414 
              C111.164360,231.636322 113.016731,236.254364 112.316010,241.938187 
              C111.799934,246.124222 108.546356,249.167450 103.625763,249.254822 
              C95.791328,249.393951 89.020348,246.612930 83.365227,240.521057 
            z"
            ></path>
          </svg>
          
        </p>
        <p class="font-normal flex flex-row gap-2 group items-center">
          <svg
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 122.88 91.69"
            style="enable-background:new 0 0 122.88 91.69"
            xml:space="preserve"
            class="w-8 aspect-square dark:fill-dark-text fill-light-text dark:stroke-dark-text stroke-light-text group-hover:scale-110 group-hover:rotate-12 transition-all stroke-[0.2rem]"
            ><g
              ><path
                d="M55.89,2.24c-0.51-0.51-0.51-1.34,0-1.86c0.51-0.51,1.34-0.51,1.86,0c2.75,2.75,1.7,4.7,0.49,6.97 c-0.86,1.61-1.85,3.45-0.28,6.17c0.36,0.63,0.15,1.43-0.48,1.79c-0.63,0.36-1.43,0.15-1.79-0.48c-2.3-3.98-0.94-6.51,0.24-8.72 C56.64,4.78,57.27,3.62,55.89,2.24L55.89,2.24z M5.41,55.12h11.26c-0.01-1.41-0.05-2.49-0.07-3.42c-0.1-3.54-0.16-5.31,0.99-6.6 c1.24-1.39,2.91-1.33,6.27-1.22c1.09,0.04,2.42,0.08,4.32,0.08c1.02,0,1.84,0.82,1.84,1.84c0,1.02-0.82,1.84-1.84,1.84 c-1.59,0-3.15-0.05-4.44-0.1c-2.21-0.08-3.31-0.11-3.41,0c-0.18,0.2-0.14,1.49-0.07,4.05c0.03,1.04,0.07,2.25,0.08,3.52h20.91 v-7.28c0-0.78,0.82-1.42,1.84-1.42c1.02,0,1.84,0.63,1.84,1.42v7.28h20.91c0.02-1.27,0.05-2.47,0.08-3.52 c0.08-2.56,0.11-3.85-0.07-4.05c-0.1-0.11-1.2-0.07-3.41,0c-1.28,0.04-2.85,0.1-4.44,0.1c-1.02,0-1.84-0.82-1.84-1.84 c0-1.02,0.82-1.84,1.84-1.84c1.91,0,3.23-0.05,4.32-0.08c3.36-0.12,5.03-0.17,6.27,1.22c1.14,1.29,1.09,3.06,0.99,6.6 c-0.03,0.93-0.06,2.01-0.07,3.42h26.37c1.49,0,2.84,0.61,3.82,1.59c0.04,0.04,0.08,0.08,0.11,0.12c0.91,0.97,1.47,2.27,1.47,3.7 v5.01c3.73,0.03,6.75,3.07,6.75,6.81c0,3.74-3.02,6.78-6.75,6.81v4.42c0,1.48-0.61,2.83-1.59,3.81l0,0l0,0l0,0 c-0.98,0.98-2.33,1.58-3.81,1.58h-8.71v1.92c0,0.44-0.82,0.79-1.84,0.79c-1.02,0-1.84-0.35-1.84-0.79v-1.92H14.84v1.92 c0,0.44-0.82,0.79-1.84,0.79c-1.02,0-1.84-0.35-1.84-0.79v-1.92H5.41c-1.48,0-2.83-0.61-3.82-1.59l0,0C0.61,86.41,0,85.06,0,83.57 V60.53c0-1.48,0.61-2.83,1.59-3.81l0,0l0,0C2.57,55.73,3.92,55.12,5.41,55.12L5.41,55.12z M95.89,58.8H5.41 c-0.47,0-0.91,0.2-1.22,0.51l0,0c-0.31,0.31-0.51,0.75-0.51,1.22v23.04c0,0.47,0.2,0.91,0.51,1.22l0,0l0,0 c0.31,0.31,0.74,0.5,1.22,0.5h90.49c0.48,0,0.91-0.19,1.22-0.5h0l0.01-0.01c0.31-0.31,0.5-0.74,0.5-1.22V60.53 c0-0.44-0.17-0.85-0.44-1.16c-0.02-0.02-0.05-0.04-0.07-0.06C96.8,59,96.37,58.8,95.89,58.8L95.89,58.8z M118.68,23.22H97.81 c-1.65,0-3.09,0.97-3.77,2.36H77.45L78,22.66c0.15-0.82-0.39-1.61-1.2-1.76c-0.09-0.02-0.19-0.03-0.28-0.03v0H13.49 c-0.83,0-1.51,0.68-1.51,1.51c0,0.17,0.03,0.34,0.08,0.49l2.26,8.57c0.66,2.48,1.76,4.83,3.42,6.49c1.51,1.51,3.43,2.45,5.84,2.45 h43.49c2.46,0,4.5-0.97,6.06-2.53c1.66-1.66,2.75-3.99,3.23-6.51l0.39-2.08h17.29c0.69,1.39,2.12,2.36,3.77,2.36h20.87 c2.31,0,4.2-1.89,4.2-4.2C122.88,25.11,120.99,23.22,118.68,23.22L118.68,23.22z M73.4,30.78c-0.36,1.94-1.18,3.7-2.4,4.93 c-1.02,1.02-2.33,1.65-3.92,1.65H23.58c-1.52,0-2.75-0.6-3.71-1.56c-1.25-1.25-2.11-3.11-2.64-5.12l-1.79-6.78H74.7 C74.26,26.2,73.84,28.47,73.4,30.78L73.4,30.78z M30.15,2.24c-0.51-0.51-0.51-1.34,0-1.86c0.51-0.51,1.34-0.51,1.86,0 c2.75,2.75,1.7,4.7,0.48,6.97c-0.86,1.61-1.85,3.45-0.28,6.17c0.36,0.63,0.15,1.43-0.48,1.79c-0.63,0.36-1.43,0.15-1.79-0.48 c-2.3-3.98-0.94-6.51,0.24-8.72C30.9,4.78,31.53,3.62,30.15,2.24L30.15,2.24z M38.73,2.24c-0.51-0.51-0.51-1.34,0-1.86 c0.51-0.51,1.34-0.51,1.86,0c2.75,2.75,1.7,4.7,0.49,6.97c-0.86,1.61-1.85,3.46-0.28,6.18c0.36,0.63,0.14,1.43-0.48,1.79 c-0.63,0.36-1.43,0.14-1.79-0.48c-2.3-3.98-0.94-6.5,0.24-8.71C39.48,4.78,40.11,3.62,38.73,2.24L38.73,2.24z M47.31,2.24 c-0.51-0.51-0.51-1.34,0-1.86c0.51-0.51,1.34-0.51,1.86,0c2.75,2.75,1.7,4.71,0.49,6.97c-0.86,1.61-1.85,3.46-0.28,6.18 c0.36,0.63,0.14,1.43-0.48,1.79c-0.63,0.36-1.43,0.14-1.79-0.48c-2.3-3.98-0.94-6.5,0.24-8.71C48.06,4.78,48.69,3.62,47.31,2.24 L47.31,2.24z"
              ></path>
            </g>
          </svg>
          
        </p>
        <p class="font-normal flex flex-row gap-2 group items-center">
          <svg
            class="w-8 aspect-square dark:stroke-dark-text stroke-light-text dark:fill-dark-text fill-light-text group-hover:scale-110 group-hover:rotate-12 transition-all"
            xmlns="http://www.w3.org/2000/svg"
            fill-rule="evenodd"
            clip-rule="evenodd"
            ><path
              d="M12 0c6.623 0 12 5.377 12 12s-5.377 12-12 12-12-5.377-12-12 5.377-12 12-12zm0 1c6.071 0 11 4.929 11 11s-4.929 11-11 11-11-4.929-11-11 4.929-11 11-11zm0 11h6v1h-7v-9h1v8z"
            ></path></svg
          >
          
        </p>
        <p class="font-normal flex flex-row gap-2 group items-center hidden">
          <button>
            <svg
              class="w-8 aspect-square dark:stroke-dark-text stroke-light-text dark:fill-dark-text fill-light-text group-hover:scale-110 group-hover:rotate-12 transition-all"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 471.701 471.701"
              xml:space="preserve"
            >
              <g>
                <path
                  d="M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1
                  c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3
                  l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4
                  C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3
                  s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4
                  c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3
                  C444.801,187.101,434.001,213.101,414.401,232.701z"
                ></path>
              </g>
            </svg>
          </button>
          <span class="font-bold mx-1">{firestoreData["likes"]}</span>
        </p>
        <a class="font-normal flex flex-row gap-2 group items-center hidden" href="#comments">
          <svg
            enable-background="new 0 0 32 32"
            version="1.1"
            viewBox="0 0 32 32"
            xml:space="preserve"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            class="w-8 aspect-square dark:stroke-dark-text stroke-light-text fill-light-text group-hover:scale-110 stroke-[0.1rem] group-hover:rotate-12 transition-all"
          >
            <path
              d="M25.784,21.017C26.581,19.467,27,17.741,27,16c0-6.065-4.935-11-11-11S5,9.935,5,16s4.935,11,11,11   c1.742,0,3.468-0.419,5.018-1.215l4.74,1.185C25.838,26.99,25.919,27,26,27c0.262,0,0.518-0.103,0.707-0.293   c0.248-0.249,0.349-0.609,0.263-0.95L25.784,21.017z M23.751,21.127l0.874,3.498l-3.498-0.875   c-0.247-0.061-0.509-0.026-0.731,0.098C19.055,24.602,17.534,25,16,25c-4.963,0-9-4.038-9-9s4.037-9,9-9s9,4.038,9,9   c0,1.534-0.398,3.054-1.151,4.395C23.724,20.618,23.688,20.88,23.751,21.127z"
            ></path></svg>
            <span class="font-bold mx-1">{firestoreData["comments"].length}</span>
        </a>
      </div>

    <div
      style=`background-image: url('${ recipe.data.image_urls[0] }')`
      class="bg-cover h-[80vh] w-full rounded-lg bg-no-repeat bg-center"
    >
    </div>
    <h2 class="my-12 text-center">Introduction</h2>
    <p class="text-xl my-3 dark:text-dark-text text-light-text">
      {recipe.data.introduction}
    </p>
    <Content />
    <div class="h-0 my-12"></div>
    <div id="comments" class="hidden">
      <h1 class="text-center my-4">Comments</h1>
      <div class="grid grid-cols-12 gap-2 rounded-md border-y-2 border-white/[0.1] px-6 my-8 py-8">
        <div class="relative z-0 col-span-7">
          <input
            type="text"
            id="comment_text"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-dark-text appearance-none dark:text-dark-text dark:border-dark-text/50 focus:outline-none focus:ring-0 focus:border-primary/100 peer"
            placeholder=" "
          />
          <label
            for="comment_text"
            class="absolute text-sm text-light-text dark:text-dark-text duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-primary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Share your thoughts...</label
          >
        </div>
        <div class="relative z-0 col-span-3">
          <input
            type="text"
            id="name"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-dark-text appearance-none dark:text-dark-text dark:border-dark-text/50 focus:outline-none focus:ring-0 focus:border-primary/100 peer"
            placeholder=" "
          />
          <label
            for="name"
            class="absolute text-sm text-light-text dark:text-dark-text duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-primary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Name</label
          >
        </div>
        <button class="col-span-2 rounded-lg  p-2 outline-[2px] outline-white text-white z-10 transition-all hover:text-primary hover:bg-white hover:outline-0" id="comment-button" >
          Comment
        </button>
      </div>
      <div id="comments-container">
        {
          firestoreData['comments'].map((comment) => (
             <div class="even:bg-light-text/[0.03] dark:even:bg-dark-text/[0.03] flex flex-col group p-4 odd:border-l-2 dark:odd:border-dark-text/[0.03] odd:border-light-text/[0.03]">
              <div class="flex flex-row justify-between w-full ">
                <p class="font-bold"> { comment.author } </p>
                <p class="font-normal flex flex-row gap-2 group items-center">
                  <button>
                    <svg
                      class="w-8 aspect-square dark:stroke-dark-text stroke-light-text dark:fill-dark-text fill-light-text group-hover:scale-110 group-hover:rotate-12 transition-all"
                      version="1.1"
                      id="Capa_1"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      viewBox="0 0 471.701 471.701"
                      xml:space="preserve"
                    >
                      <g>
                        <path
                          d="M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1
                          c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3
                          l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4
                          C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3
                          s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4
                          c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3
                          C444.801,187.101,434.001,213.101,414.401,232.701z"
                        ></path>
                      </g>
                    </svg>
                  </button>
                  <span class="font-bold mx-1"> { comment.likes } </span>
                </p>
              </div>
              <p class="mt-2">
                { comment.comment }
              </p>
            </div>
          ))
        }
       

      </div>
    </div>
  </div>
</Layout>
<style is:inline >
  p,
  li {
    font-size: 1.25rem !important;
    line-height: 1.75rem !important;
  }
</style>
<script is:inline type="module">
//   import { readFirestore, addComment } from "/src/firebase.js";
//   import { Astro } from "@astrojs/runtime";

// async function update() {
//   ({ recipe } = Astro.props);
//   ({ Content } = await recipe.render());
//   firestoreData = await readFirestore(recipe.slug);
// }

// async function comment() {
//   const comment = document.getElementById("comment_text").textContent;
//   const name = document.getElementById("name").textContent;
//   await addComment(recipe.slug, comment, name);
//   await update();
// }

// const commentButton = document.querySelector('#comment-button');
// commentButton.addEventListener('click', () => {
//   comment()
// })

</script>